*{
    padding: 0;
    margin: 0;
}
.head1{
    display: flex;
    border: 1px solid white;
    background-color: white;
    position: fixed;
    background-size: cover;
    width: 100%;
    margin-top: -100px;
    z-index: 999;
}
.head1a{
    margin-left: 180px;
    margin-top: 20px;
}
.head1b{
    margin-left: 60px;
    margin-top: 45px;
    font-size: 20px;
}
.head1b a{
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    background-color: rgba(173, 216, 230, 0.199);
    border-radius: 80px;
}
.head1c{
    margin-top: 45px;
}
.head1c a{
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.head1d{
    margin-top: 42px;
    margin-left: 20px;
}
.head1d a{
    font-size: 25px;
    margin-left: 40px;
}

.head2{
    margin-top: 100px;
    border: 1px solid white;
    background-image: url(img/breadcrumb-bg.jpg);
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
}
.head2 p{
    margin-left: 180px;
    margin-top: 70px;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.808);
}
.head2 i{
    color: blue;
    margin-right: 10px;
}
.head2 h1{
    margin-left: 170px;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.774);
}

.head3{
    display: flex;
    margin-top: 90px;
    width: 100%;
}
.head3a{
    margin-left: 150px;
    font-size: 30px;
}
.head3a p{
    margin-top: -48px;
    margin-left: 310px;
}
.head3b{
    margin-left: 50px;
}
.head3b i{
    font-size: 45px;
    border: 1px solid black;
    width: 14%;
    color: black;
    text-align: center;
}
.head3b h5{
    margin-top: -50px;
    margin-left: 120px;
} 
.head3c{
    margin-left: 60px;
    font-size: 28px;
}

.head4{
    display: flex;
}
.headb{
    border: 1px solid white;
    border-radius: 20px;
    width: 30%;
    height: 650px;
    background-color: white;
    margin-top: 90px;
    margin-left: 165px;
    box-shadow: 15px 15px 15px black;
}
.headb img{
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 10px;
}
.headb h4{
    margin-left: 10px;
}
.headb h5{
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid white;
    width: 37%;
    color: black;
    font-weight: 700;
    background-color: white;
}
.headb h2{
    margin-left: 25px;
    font-size: 20px;
    margin-top: 20px;
    width: 80%;
}
.headb table{
    margin-left: 30px;
    margin-top: 10px;
}
.headb table td{
    padding-left: 130px;
}
.headb button{
    margin-left: 80px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.808);
    border: 1px solid white;
    border-radius: 30px;
    width: 60%;
}
.headb button a{
    text-decoration: none;
    color: white;
}


.head5{
    display: flex;
    border: 1px solid white;
    margin-top: 100px;
    height: 450px;
    background-color: #F3F4F8;
}
.head5a{
    margin-left: 130px;
    width: 20%;
}
.head5a h3{
    font-size: 55px;
    margin-top: 30px;
}
.head5a p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.842);
    margin-top: 30px;
}

.head5b{
        margin-top: 45px;
        margin-left: 50px;
}
.head5b h2{
    margin-left: 28px;
}
.head5b ul li{
    list-style: none;
    margin-top: 20px;
}
.head5b a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.842);
    font-size: 20px;
}
.head5b a:hover{
    color: blue;
}

.head5b{
    margin-left: 30px;
    text-align: justify;
}
.head5c{
    margin-left: 100px;
    width: 20%;
    margin-top: 50px;
}
.head5c p{
    color: rgba(0, 0, 0, 0.842);
    margin-top: 30px;
}
.head5c input{
    padding: 18px;
    margin-top: 30px;
    width: 110%;
    background-color: white;
}
.an{
    width: 40%;
    padding: 5px;
    margin-top: -58px;
    margin-left: 190px;
}
.head5c button{
    padding: 8px;
    width: 90%;
    background-color: blue;
    border-style: none;
    border-radius: 10px;
}
.head5c button a{
    text-decoration: none;
    color: white;
}
.head5c i{
    font-size: 40px;
    margin-left: 10px;
    color: black;
    margin-top: 30px;
}

.headand{
    border: 1px solid white;
    background-color: #F3F4F8;
}
.headand h4{
    margin-left: 500px;
    margin-top: 20px;
}
